/mac/rime_input_method/build/
.DS_Store
*.elc
/mitmproxy/__pycache__/
/config/emacs/.cache
/config/emacs/elpa/*
/config/emacs/lazy/lazy-loaddefs.el
/config/emacs/debug-adapters
/config/emacs/chatgpt/
/config/emacs/auto-save-list/
/config/emacs/projects
/config/emacs/url/
/gnupg/tofu.db
/gnupg/random_seed
/gnupg/*~
/gnupg/.#*
/linux/config/fcitx5/conf/notifications.conf
/linux/config/fcitx5/profile*
/linux/config/rbw/config.json
/linux/config/tmux/plugins
*~
/linux/etc/portage/savedconfig/*
/mac/config/karabiner/automatic_backups/
/mac/rime_input_method/luna_pinyin.userdb/
/mac/rime_input_method/sync
/mac/rime_input_method/user.yaml
/mac/rime_input_method/wubi_pinyin_jixiuf.userdb/
/mac/rime_input_method/installation.yaml
/mitmproxy/command_history
/mitmproxy/mitmproxy-ca-cert.cer
/mitmproxy/mitmproxy-ca-cert.p12
/mitmproxy/mitmproxy-ca-cert.pem
/mitmproxy/mitmproxy-ca.p12
/mitmproxy/mitmproxy-ca.pem
/mitmproxy/mitmproxy-dhparam.pem


/ssh/authorized_keys
/ssh/config
/ssh/id_rsa
/ssh/id_rsa_old
/ssh/id_rsa_old.pub
/ssh/known_hosts
