/mac/rime_input_method/build/
.DS_Store
*.elc
/mitmproxy/__pycache__/
/config/emacs/.cache
/config/emacs/elpa/*
/config/emacs/lazy/lazy-loaddefs.el
/config/emacs/debug-adapters
/config/emacs/chatgpt/
/config/emacs/auto-save-list/
/config/emacs/projects
/config/emacs/url/
/gnupg/tofu.db
/gnupg/random_seed
/gnupg/*~
/gnupg/.#*
/linux/config/fcitx5/conf/notifications.conf
/linux/config/fcitx5/profile*
/linux/config/rbw/config.json
/linux/config/tmux/plugins
*~
/linux/etc/portage/savedconfig/*
/mac/config/karabiner/automatic_backups/
/mac/rime_input_method/luna_pinyin.userdb/
/mac/rime_input_method/sync
/mac/rime_input_method/user.yaml
/mac/rime_input_method/wubi_pinyin_jixiuf.userdb/
/mac/rime_input_method/installation.yaml
/dots/mitmproxy/command_history
/dots/mitmproxy/mitmproxy-ca-cert.cer
/dots/mitmproxy/mitmproxy-ca-cert.p12
/dots/mitmproxy/mitmproxy-ca-cert.pem
/dots/mitmproxy/mitmproxy-ca.p12
/dots/mitmproxy/mitmproxy-ca.pem
/dots/mitmproxy/mitmproxy-dhparam.pem
/dots/ssh/authorized_keys
/dots/ssh/config
/dots/ssh/id_rsa
/dots/ssh/id_rsa_old
/dots/ssh/id_rsa_old.pub
/dots/ssh/known_hosts
/dots/mitmproxy/__pycache__/*.pyc
