*.elc
*~
.DS_Store
/config/emacs/.achive
/config/emacs/.cache
/config/emacs/auto-save-list/
/config/emacs/chatgpt/
/config/emacs/debug-adapters
/config/emacs/elpa/*
/config/emacs/lazy/lazy-loaddefs.el
/config/emacs/projects
/config/emacs/url/
/dots/gnupg/*~
/dots/gnupg/.#*
/dots/gnupg/random_seed
/dots/gnupg/tofu.db
/dots/mitmproxy/__pycache__/*.pyc
/dots/mitmproxy/command_history
/dots/mitmproxy/mitmproxy-ca-cert.cer
/dots/mitmproxy/mitmproxy-ca-cert.p12
/dots/mitmproxy/mitmproxy-ca-cert.pem
/dots/mitmproxy/mitmproxy-ca.p12
/dots/mitmproxy/mitmproxy-ca.pem
/dots/mitmproxy/mitmproxy-dhparam.pem
/dots/ssh/authorized_keys
/dots/ssh/config
/dots/ssh/id_rsa
/dots/ssh/id_rsa_old
/dots/ssh/id_rsa_old.pub
/dots/ssh/known_hosts
/linux/config/fcitx5/conf/notifications.conf
/linux/config/fcitx5/profile*
/linux/config/rbw/config.json
/linux/config/tmux/plugins
/linux/etc/portage/savedconfig/*
/mac/config/karabiner/automatic_backups/
/mac/rime_input_method/build/
/mac/rime_input_method/installation.yaml
/mac/rime_input_method/luna_pinyin.userdb/
/mac/rime_input_method/sync
/mac/rime_input_method/user.yaml
/mac/rime_input_method/wubi_pinyin_jixiuf.userdb/
/mitmproxy/__pycache__/
/dots/ssh/known_hosts.old
/config/emacs/network-security.data
/linux/config/sway/config
/config/emacs/.org-id-locations
/config/emacs/org-caldav-4fa39a1.el
/config/emacs/org-caldav-86bba5a.el
/config/emacs/org-caldav-backup.org
/config/emacs/gt-known-words.txt
/config/emacs/share/
/config/emacs/eglot-java-eclipse-jdt-cache/
linux/config/fcitx5/conf/cached_layouts
/dots/ssh/id_rsa.script
/dots/ssh/id_rsa.script.pub
/config/emacs/tree-sitter/
.aider*
/config/emacs/codeium/codeium_language_server
/config/emacs/completions
/linux/config/systemd/user/default.target.wants/disable-keyboard.service
/dots/notmuch-config
/mac/rime_input_method/amz-v2n3m1-zh-hans.gram
/mac/rime_input_method/.temp.userdb/
/mac/rime_input_method/amz-v3n2m1-zh-hans.gram
