[submodule "submodule/selectrum"]
	path = submodule/selectrum
	url = https://github.com/raxod502/selectrum.git
[submodule "submodule/prescient"]
	path = submodule/prescient
	url = https://github.com/raxod502/prescient.el.git
[submodule "submodule/emacs-maple-minibuffer"]
	path = submodule/emacs-maple-minibuffer
	url = https://github.com/honmaple/emacs-maple-minibuffer.git
