# systemctl --user add-wants niri.service emacs.service
[Unit]
# BindsTo=sway-session.target
Description=Starts emacs service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
# Environment="XDG_SESSION_DESKTOP=Hyprland"
# Environment="RUN_ENV=development"
Type=simple
Restart=always
ExecStart=/usr/bin/emacs --fg-daemon
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=180
StartLimitIntervalSec=10s
StartLimitBurst=100

[Install]
WantedBy=sway-session.target
