[Unit]
Description=Mbsync synchronization service

[Service]
#cjk 
Environment="XAPIAN_CJK_NGRAM=1"
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/sh -c 'notmuch new;mbsync-notify'
[Install]
WantedBy=default.target
