[Unit]
Description=tmux session for user 

[Service]
Type=forking
# WARNING: when in etc， use %I instead of %u here; %u=root in system services.
ExecStart=/usr/bin/tmux new-session -s jixiuf -d -c /home/jixiuf
ExecStop=/usr/bin/tmux kill-session -t jixiuf
Restart=always
Environment="GTK_THEME=Adwaita-dark"
Environment="HYPRLAND_CMD=Hyprland"
Environment="XDG_CONFIG_DIRS=/etc/xdg"
Environment="XDG_BACKEND=wayland"
Environment="QT_WAYLAND_DISABLE_WINDOWDECORATION=1"
Environment="XDG_SESSION_DESKTOP=Hyprland"
Environment="XDG_SESSION_TYPE=wayland"
Environment="XDG_CURRENT_DESKTOP=sway"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="LC_ALL=zh_CN.UTF-8"

[Install]
WantedBy=sway-session.target

