[Unit]
Description=Sync Portage Tree

[Service]
Type=oneshot
ExecStart=/usr/bin/emerge --sync
ExecStartPost=sudo -u jixiuf sh -c '/usr/bin/rsync -avz -CErltm  --delete /var/cache/binpkgs/ root@bj-mjq-dev-apm-1:/data/binpkgs;/usr/bin/rsync -avz -CErltm  --delete /var/db/repos/gentoo/* root@bj-mjq-dev-apm-1:/data/gentoo/'
[Install]
WantedBy=multi-user.target
# WantedBy=graphical-session.target

