.reveal p {
  text-align: left;
}
.reveal table {
  display: block;
  font-size: 0.5em;
  overflow: auto;
  max-height: 600px;
}
.reveal code {
  color: LightSlateGray;
}
div.legalese {
  font-size: 1.4vh;
  position: fixed;
  left: 3px;
  bottom: 3px;
  z-index: 50;
}
